@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1976d2;
  --primary-dark: #1565c0;
  --secondary: #9c27b0;
  --error: #d32f2f;
  --warning: #ed6c02;
  --success: #2e7d32;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
