
.filters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 15px;
  width: 70%;
  align-self: center;

  .filters-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    .filter-item {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
    }
  }

  .MuiButton-outlined {
    align-self: flex-end;
  }
}


@media (max-width: 850px) {
  .filters-container{
    width:87%;
  }
}
