
.filters-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
  padding: 15px;
  width: 70%;

  .filters-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .filter-item {
      display: flex;
      flex-direction: column;
      //margin-right: 1rem;
      flex: 1;
      margin-bottom: 10px;

      .MuiAutocomplete-root, .MuiTextField-root {
        flex: 1;
        min-width: 150px;
        margin-right: 20px;
      }
    }
  }

  .filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .MuiButton-outlined {
      margin-left: 10px;
    }
  }
}


@media (max-width: 1024px) {
  .filters-container {
    width: 93%;
  }
}

@media (max-width: 850px) {
  .filters-container {
    width: 87%;
  }
}
