.users-table {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 10px;

  .icon {
    cursor: pointer;
    margin-right: 10px;
  }

  h2 {
    align-self: center;
  }

  .icon {
    cursor: pointer;
  }
}

.new-worker-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 20px;
  align-items: center;
}

@media (max-width: 900px) {
  .users-table {
    width: 90%;
    padding-left: 0;
  }
}
