@import '../abstracts/variables';
@import '../abstracts/placeholders';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: white;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto !important;
}

.content-wrapper {
  padding-left: $drawer-width;
  overflow-y: scroll;
  width: calc(100% - #{$drawer-width});
  //margin: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  //@extend %display-flex-center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.MuiButtonBase-root:disabled {
  cursor: not-allowed;
  pointer-events: auto;
}

.form {
  .MuiTextField-root {
    margin-bottom: 20px;
    width: 70%;
  }
}

@media (max-width: 600px) {
  .content-wrapper {
    padding-left: 0;
    width: 100%;
  }
}

